#header-home {
    background-image: url("/static/img/homepage_cover.png");
  }

  #header-list-books {
    background-image: url("/static/img/books_background.jpg");
  }

.custom-link {
  text-decoration: underline;
  color: inherit; /* Use the default text color */
}

.custom-link:hover {
    color: #007bff; /* Change the color on hover */
}

.book-details {
  display: grid;
  grid-template-columns: max-content 1fr; /* Adjust the width as needed */
  grid-gap: 10px; /* Adjust the gap between label and value as needed */
}

.label {
  font-weight: bold;
}

.value {
  margin: 0;
  color: #6c757d; /* Adjust the color as needed */
}
