
{% extends "base.html" %} {% block head %} {{ super() }}
<!--
write here if you want to add css links only in this page
<link
        rel="stylesheet"
        href="{{ url_for('static', filename= 'qwer.css') }}"
/>-->
{% endblock %} {% block content %}
<header class="masthead" style="background-image:url('/assets/img/contact-bg.jpg');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-8 mx-auto position-relative">
                <div class="site-heading">
                    <h1>ACCESS YOUR ACCOUNT</h1><span class="subheading">{{ message }}</span>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <div class="col-md-10 col-lg-8 mx-auto">
            {% include 'forms/login_form.html' %}
            <a href="{{ url_for('signup_user') }}">No profile? register here.</a>
        </div>
    </div>
</div>
{% endblock %}